<nav class="bg-black p-4">
  <div class="container mx-auto flex justify-between items-center">

    <!-- Logo / Title -->
    <div class="text-white font-bold">
      <a routerLink="/"><h1 class="text-2xl">Site d assistante maternelle</h1></a>
    </div>

    <!-- Connexion Button -->
    <div>
      <button routerLink="/enfants" class="bg-transparent text-white border border-white px-4 py-2 rounded hover:bg-white hover:text-black transition">Les enfants</button>
    </div>

    <div>
      <button routerLink="/planning" class="bg-transparent text-white border border-white px-4 py-2 rounded hover:bg-white hover:text-black transition">Planning</button>
    </div>

    <div>
      <button routerLink="/login" class="bg-transparent text-white border border-white px-4 py-2 rounded hover:bg-white hover:text-black transition">Login</button>
    </div>


  </div>
</nav>
